.orders_header{

}

.pyg_view{
  #segmentedControl{
    background-color: #fff;
  }
  .indent_num{
    margin:20px; 
    // padding: 10px 0 0 10px;
    background-color: #fff;
    border-top: rgb(221, 221, 221) 1px solid;
    border-bottom: rgb(221, 221, 221) 1px solid;
    #item1{
    ul{
      li{
        padding: 15px;
        border-bottom: 1px solid rgb(167, 167, 167);
        display: flex;
        .ind_title{
          overflow: hidden;
          display: flex;
          flex-direction: column;
          flex: 3;
          line-height: 30px;
          font-size: 20px;
            display: flex;
            justify-content: space-between;
            .ind_num{
              font-size: 18px;
              color: #666;
            }
        }
        
        .ind_price{
          display: flex;
          flex: 1;
          color: rgb(247, 95, 95);
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
    }
  }
}